# Neon Postgres connection string
# Ambil dari dashboard Neon: Connection Details > Prisma (pakai yang "pooled" untuk DATABASE_URL,
# dan "direct" / unpooled untuk DIRECT_URL karena Prisma migrate butuh koneksi non-pooled)
DATABASE_URL="postgresql://user:password@ep-xxxx-pooler.region.aws.neon.tech/calibration?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-xxxx.region.aws.neon.tech/calibration?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="PtrPH7tox5YSOvO0OVsP6ikYB7gw6uX8rk4rk6IWxZ8="
NEXTAUTH_URL="http://localhost:3000"
